  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 120px;
    margin-left: 2%
  }
  
  .title-container {
    max-width: 60%;
    margin: 20px auto;
    font-family: 'Poppins',sans-serif;
    padding: 10px
  }
  
  .title-container h1 {
    text-align: center;
    color: #2b5971;
    margin-bottom: 30px;
  }