.fund-record-detail {
    padding: 20px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
  }
  
  .fund-record-detail h1 {
    margin-top: 0;
    color: #2b5971;
    text-align: center;
  }

  .fund-record-detail strong{
    color:#070f14;
    font-size: 20px;
  }
  
  .record-info {
    margin-top: 20px;
    padding-left: 20px;
    padding-left: 20px;
    padding: 30px;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  
  .info-item {
    margin-bottom: 10px;
  }
  
  .info-item strong {
    font-weight: bold;
  }
  
  .attachment-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  
  .attachment-item {
    width: 300px;
    height: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .attachment-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  