
.form-container {
    max-width: 60%;
    margin: 70px auto;
    font-family: 'Poppins',sans-serif;
    padding: 10px
  }
  
  .form-container h1 {
    text-align: center;
    color: #2b5971;
    margin-bottom: 30px;
  }

  .fund-record-form form {
    display: grid;
    grid-gap: 10px;
  }
  
  .fund-record-form label {
    font-weight: bold;
    color: #2b5971;
  }
  
  .fund-record-form input[type="text"],
  .fund-record-form input[type="file"],
  .fund-record-form textarea,
  .requestDate
  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
  }

  .purpose {
    height: 150px;
    resize: none;
  }

  .split-container {
    display: flex;
  }
  
.left-div {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-right: 2%;
}

.left-div img{
  width: 80%;
}
  
.right-div {
  flex: 0 0 50%;
}

  @media (max-width: 800px) {
    .form-container {
      max-width: 800px;
      margin: 70px auto;
      font-family: 'Poppins',sans-serif;
      padding: 30px
    }

    .left-div {
      display: none;
    }
  
    .right-div {
      flex: 0 0 100%;
      margin: 0px;
    }
  }